@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");
html,
body {
  font-family: iranyekan !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

#app {
  height: 100%;
}

/* ===================================== HeaderSwiper ===================================== */

.header-swiper .swiper-pagination-bullet {
  opacity: 0.5 !important;
  transition: all 0.3s ease-in-out !important;
  background-color: rgb(37, 37, 37) !important;
  width: 6px !important;
  height: 6px !important;
}

.header-swiper .swiper-pagination-bullet-active {
  background-color: #fff !important;
  border-radius: 20px !important;
  opacity: 1 !important;
  width: 16px !important;
}

.header-swiper .swiper-button-prev,
.header-swiper .swiper-button-next {
  position: absolute !important;
  top: 70% !important;
  right: 0px !important;
  transform: scale(0.25) !important;
  background-color: #fff;
  border-radius: 50% !important;
  width: 160px !important;
  height: 160px !important;
  color: black !important;
  font-weight: bold !important;
  border: 5px solid #c0c2c5 !important;
}

.header-swiper .swiper-button-next {
  margin-right: 50px;
}

/* ===================================== AmazingSwiper ===================================== */

.amazing-swiper .swiper-slide {
  height: auto;
}
.amazing-swiper .swiper-button-next,
.amazing-swiper .swiper-button-prev {
  top: 50% !important;
  left: -50px !important;
  transform: scale(0.25) translateY(-140%) !important;
  background-color: #fff;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  color: #424750;
  border: 5px solid #c0c2c5;
  font-weight: bold;
}

.amazing-swiper .swiper-button-prev {
  right: -50px !important;
}

/* ===================================== suggestionSwiper ===================================== */
.suggestionSwiper .swiper-slide {
  text-align: center;
  font-size: 12px;
  height: calc((100%) / 2) !important;
  display: flex;
}

/* ===================================== SingleProductSwiper ===================================== */

.singleProduct-swiper .swiper-pagination {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
